<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Paris_Night.jpg/675px-Paris_Night.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user" src="http://images.performgroup.com/di/library/GOAL/40/4a/neymar-barcelona-2017_lrjlxis5zpt13wztjji2gwuw.jpg?t=-884324711&w=620&h=430">
  <a class="card-link" href="#" ></a>
</div>
