.footer {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: sticky;
  right: 0;
  left: 0;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
a {
  color: $black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover{
    opacity:1;
    }
  }
.fa-heart {
  color: $red;
  }
}
