// Define variables for your color scheme

// For example:
$red: #FF5964;
$blue: #D6E6EB;
$yellow: #FFEE93;
$orange: #E67E22;
$green: #A7E8BD;
$gray: #000000;
$light-gray: #FCF5C7;
$white: #F7F7FF;
$black: #080708;
